/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 11, 2022, 6:27:10 PM
    Author     : luffy
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box
}
.logo{
    width: 100%;
}
.logo-link{
    width: 311px;
    display: flex;
}
.header{
    display: flex;
    background: white;
    border-bottom: solid 1px;
}
.footer{
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px;
    font-size: 16px;

}
.footer-img{
    height: 71.39px;
}
.footer-contact{
    margin-left: 90px;
}
.footer-info{
    margin-left: 250px;
    padding-right: 25px;
}
.body{
    min-height: 78.4vh
}